<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.basketlist_springboot.Mapper.CartItemListMapper">
  <resultMap id="BaseResultMap" type="com.example.basketlist_springboot.Dto.CartItemList">
    <id column="cart_item_id" jdbcType="INTEGER" property="cartItemId" />
    <result column="product_no" jdbcType="INTEGER" property="productNo" />
    <result column="list_user_no" jdbcType="INTEGER" property="listUserNo" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="added_at" jdbcType="TIMESTAMP" property="addedAt" />
  </resultMap>
  <resultMap id="selectedPrice" type="com.example.basketlist_springboot.Dto.CartItemList">
    <id column="cart_item_id" jdbcType="INTEGER" property="cartItemId" />
    <result column="selectedPrice" jdbcType="INTEGER" property="selectedPrice"/>
    <result column="quantity" jdbcType="INTEGER" property="quantity"/>
    <result column="list_user_no" jdbcType="INTEGER" property="listUserNo"/>
    <result column="product_no" jdbcType="INTEGER" property="productNo"/>
  </resultMap>
  <resultMap id="totalPrice" type="com.example.basketlist_springboot.Dto.CartItemList">
    <id column="cart_item_id" jdbcType="INTEGER" property="cartItemId" />
    <result column="totalPrice" jdbcType="INTEGER" property="totalPrice"/>
    <result column="list_user_no" jdbcType="INTEGER" property="listUserNo"/>
    <result column="quantity" jdbcType="INTEGER" property="quantity"/>
    <result column="product_no" jdbcType="INTEGER" property="productNo"/>
  </resultMap>

  <select id="selectByCartItemId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT * FROM cartItemList
    WHERE cart_item_id = #{cartItemId, jdbcType=INTEGER}
  </select>
  <select id="selectByUserId" parameterType="integer" resultMap="BaseResultMap">
    select * from CARTITEMLIST where LIST_USER_NO=#{ListUserNo,jdbcType=INTEGER}
  </select>

  <delete id="deleteByUserNo" parameterType="java.lang.Integer">
    DELETE FROM cartItemList
    WHERE LIST_USER_NO= #{listUserNo, jdbcType=INTEGER}
  </delete>
  <delete id="deleteByCartItemId" parameterType="java.lang.Integer">
    DELETE FROM cartItemList
    WHERE cart_item_id = #{cartItemId, jdbcType=INTEGER}
  </delete>
  <update id="updateQuantity" parameterType="com.example.basketlist_springboot.Dto.CartItemList">
    update CARTITEMLIST
    <set>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="productNo != null">
        product_no = #{productNo,jdbcType=INTEGER},
      </if>
      <if test="listUserNo != null">
        list_user_no = #{listUserNo,jdbcType=INTEGER},
      </if>
      <if test="addedAt != null">
        added_at = #{addedAt,jdbcType=INTEGER},
      </if>
    </set>
    where CART_ITEM_ID=#{cartItemId,jdbcType=INTEGER}
  </update>
  <insert id="insert" parameterType="com.example.basketlist_springboot.Dto.CartItemList"
          keyColumn="cart_item_id" keyProperty="cartItemId" useGeneratedKeys="true" >
    INSERT INTO cartItemList (product_no, list_user_no, quantity)
    VALUES (#{productNo, jdbcType=INTEGER},
            #{listUserNo, jdbcType=INTEGER},
            #{quantity, jdbcType=INTEGER})
  </insert>
  <select id="selectedPrice" parameterType="map" resultType="java.lang.Integer">
    select (c.QUANTITY*p.PRODUCT_PRICE) from CARTITEMLIST c
       left join PRODUCT p on p.PRODUCT_ID = c.PRODUCT_NO where c.PRODUCT_NO=p.PRODUCT_ID
         AND c.LIST_USER_NO=#{listUserNo,jdbcType=INTEGER} AND c.CART_ITEM_ID=#{cartItemId,jdbcType=INTEGER}
  </select>
  <select id="totalPrice" parameterType="INTEGER" resultType="INTEGER">
  select MAX(sumPrice) as totalPrice from(select sum(c.QUANTITY*p.PRODUCT_PRICE) over(partition by c.LIST_USER_NO
    order by c.LIST_USER_NO rows between unbounded preceding and current row) as sumPrice from ADMINBASKET.CARTITEMLIST c
       left join ADMINBASKET.PRODUCT p on p.PRODUCT_ID = c.PRODUCT_NO where c.PRODUCT_NO=p.PRODUCT_ID
         AND c.LIST_USER_NO=#{userId,jdbcType=INTEGER})
  </select>
</mapper>