<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.basketlist_springboot.Mapper.UsersMapper">
  <resultMap id="BaseResultMap" type="com.example.basketlist_springboot.Dto.Users">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="profile_img_url" jdbcType="VARCHAR" property="profileImgUrl" />
    <result column="user_nickname" jdbcType="VARCHAR" property="userNickname" />
    <result column="self_introduction" jdbcType="VARCHAR" property="selfIntroduction"/>
    <result column="role" jdbcType="VARCHAR" property="role" />
  </resultMap>
  <resultMap id="UserBaseMap" type="com.example.basketlist_springboot.Dto.Users">
    <result column="profile_img_url" jdbcType="VARCHAR" property="profileImgUrl" />
    <result column="user_nickname" jdbcType="VARCHAR" property="userNickname" />
    <result column="role" jdbcType="VARCHAR" property="role" />
    <result column="self_introduction" jdbcType="VARCHAR" property="selfIntroduction"/>
  </resultMap>
    <resultMap id="userWithDetailsResultMap" type="com.example.basketlist_springboot.Dto.Users">
      <id column="user_id" jdbcType="INTEGER" property="userId" />
      <result column="profile_img_url" jdbcType="VARCHAR" property="profileImgUrl" />
      <result column="user_nickname" jdbcType="VARCHAR" property="userNickname" />
      <result column="role" jdbcType="VARCHAR" property="role" />
      <result column="self_introduction" jdbcType="VARCHAR" property="selfIntroduction"/>
      <association property="userDetails" javaType="com.example.basketlist_springboot.Dto.UserDetails">
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="privacy_agreements" jdbcType="INTEGER" property="privacyAgreements" />
        <result column="marketing_agreements" jdbcType="INTEGER" property="marketingAgreements" />
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
        <result column="birth_date" jdbcType="TIMESTAMP" property="birthDate" />
        <result column="name" jdbcType="VARCHAR" property="name"/>
      </association>
    </resultMap>
  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    USER_ID,PROFILE_IMG_URL,USER_NICKNAME,SELF_INTRODUCTION,ROLE
    from users
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByUserId" parameterType="java.lang.Integer">
    delete from users
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="user_id" keyProperty="userId" parameterType="com.example.basketlist_springboot.Dto.Users" useGeneratedKeys="true">
    insert into users (user_name ,PASSWORD, profile_img_url, user_nickname,ROLE,SELF_INTRODUCTION)
    values (#{userName,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR}, #{profileImgUrl,jdbcType=VARCHAR},
            #{userNickname,jdbcType=VARCHAR},#{role,jdbcType=VARCHAR},#{selfIntroduction,jdbcType=VARCHAR})
  </insert>
  <update id="updateByIdSelective" parameterType="com.example.basketlist_springboot.Dto.Users">
    update users
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="profileImgUrl != null">
        profile_img_url = #{profileImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="userNickname != null">
        user_nickname = #{userNickname,jdbcType=VARCHAR},
      </if>
      <if test="role != null">
        "role" = #{role,jdbcType=VARCHAR},
      </if>
      <if test="selfIntroduction != null">
        self_introduction = #{selfIntroduction,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=DECIMAL}
  </update>
  <select id="selectUserAndUserDetailByUserId"
          parameterType="com.example.basketlist_springboot.Dto.Users"
  resultMap="userWithDetailsResultMap">
   select u.*,uD.* from users u left join ADMINBASKET.userDetails uD on u.user_id = uD.detail_user_no where u.user_id=#{userId,jdbcType=INTEGER}
  </select>
  <select id="selectUserByUserNickName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select u.PROFILE_IMG_URL,u.USER_NICKNAME,u.ROLE,u.SELF_INTRODUCTION from USERS u where u.USER_NICKNAME=#{userNickname,jdbcType=VARCHAR}
  </select>
  <select id="checkUserName" parameterType="java.lang.String" resultType="integer">
   select count(*) from users where user_name=#{userName,jdbcType=VARCHAR}
  </select>
  <select id="checkUserNickName" parameterType="string" resultType="integer">
    select count(*) from users where user_nickname=#{userNickname,jdbcType=VARCHAR}
  </select>
</mapper>