<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.basketlist_springboot.Mapper.UserDtoMapper">
<resultMap id="BaseResultMap" type="com.example.basketlist_springboot.Dto.UserDto">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="profile_img_url" jdbcType="VARCHAR" property="profileImgUrl" />
    <result column="user_nickname" jdbcType="VARCHAR" property="userNickname" />
    <result column="role" jdbcType="VARCHAR" property="role" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="privacy_agreements" jdbcType="INTEGER" property="privacyAgreements" />
    <result column="marketing_agreements" jdbcType="INTEGER" property="marketingAgreements" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="birth_date" jdbcType="TIMESTAMP" property="birthDate" />
    <result column="name" jdbcType="VARCHAR" property="name" />
</resultMap>
    <select id="getUserDtoByUserId" resultMap="BaseResultMap" parameterType="integer">
        select u.*,uD.* from users u,userDetails uD where user_id=#{userId} AND detail_user_no=#{userId}
    </select>
</mapper>